<div id="compose">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Shelve It! <i class="fas fa-book"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown" id="userIcon">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="far fa-user-circle fa-lg"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Sign-In</a>
                        <a class="dropdown-item" href="#">Sign-Up</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/compose">Compose <i class="fas fa-feather-alt"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div clas="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h2>Compose <i class="fas fa-feather-alt"></i></h2>
                    </div>
                    <div class="card-body">
                        <form id="authorBox">
                            <div class="form-group">
                                <label for="titleBox">Title</label>
                                <input type="title" class="form-control" id="titleBox"
                                    placeholder="Give Your Masterpiece a Title">
                            </div>
                            <div class="form-group">
                                <label for="storyBox">Once Upon a Time...</label>
                                <textarea class="form-control" id="storyBox" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="categoryBox">Category of Your Masterpiece</label>
                                        <select class="form-control" id="categoryBox">
                                            <option></option>
                                            <option>Poetry</option>
                                            <option>Drama</option>
                                            <option>Short Story</option>
                                            <option>Long Story</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="typeBox">Type</label>
                                        <select class="form-control" id="typeBox">
                                            <option></option>
                                            <option>Non-Fiction</option>
                                            <option>Fantasy</option>
                                            <option>Adventure</option>
                                            <option>Romance</option>
                                            <option>Mystery</option>
                                            <option>Horror</option>
                                            <option>Thriller</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-light text-white bg-dark mb-3" style="display: inline-block">
                                <div class="card-header border-light">
                                    Author Tools <i class="fas fa-toolbox"></i>
                                </div>
                                <div class="card-body">
                                    <button class="btn btn-success" type="submit">Save Draft <i
                                            class="fab fa-firstdraft"></i></button>
                                    <button class="btn btn-success" type="submit">Publish <i
                                            class="far fa-check-square"></i></button>
                                    <button class="btn btn-success" type="edit">Edit <i
                                            class="far fa-edit"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Last worked on 12/27/19
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>