<div id="compose">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h3 id="composeHeader">Compose <i class="fas fa-feather-alt"></i></h3>
                    </div>
                    <div class="card-body">
                        <form id="authorBox">
                            <div class="form-group">
                                <label for="titleBox">Title</label>
                                <input type="text" class="form-control" id="titleBox"
                                    placeholder="Give Your Masterpiece a Title">
                            </div>
                            <label for="editor">Editor</label>
                            <div class="card bg-light mb-3" id="editorContainer">
                                <div class="card-body">
                                    <div id="quillContainer"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="categoryBox">Category</label>
                                        <select class="form-control" id="categoryBox" type="text">
                                            <option></option>
                                            <option>Poetry</option>
                                            <option>Drama</option>
                                            <option>Short Story</option>
                                            <option>Long Story</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="typeBox">Type</label>
                                        <select class="form-control" id="typeBox" type="text">
                                            <option></option>
                                            <option>Non-Fiction</option>
                                            <option>Fantasy</option>
                                            <option>Adventure</option>
                                            <option>Romance</option>
                                            <option>Mystery</option>
                                            <option>Horror</option>
                                            <option>Thriller</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Using handlebars partials directory to display the authorTools -->
                            {{> author/authorTools}}
                        </form>
                    </div>
                    <div class="card-footer text-muted border-light">
                        “It doesn't matter what you do...so long as you change something from the way it was before you
                        touched it into
                        something that's like you after you take your hands away.”
                        ― Ray Bradbury, Fahrenheit 451
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h3>Drafts <i class="fab fa-firstdraft"></i></h2>
                    </div>
                    <!-- Using handlebars partials directory to display every masterpiece draft -->
                    {{#each stories}}
                    {{#if draft}}
                    {{> author/masterpiece}}
                    {{/if}}
                    {{/each}}
                    <div class="card-footer text-muted border-light">
                        Rome wasn't built in a day.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h3>Published <i class="far fa-check-square"></i></h3>
                    </div>
                    <!-- Using handlebars partials directory to display every published masterpiece -->
                    {{#each stories}}
                    {{#unless draft}}
                    {{> author/masterpiece}}
                    {{/unless}}
                    {{/each}}
                    <div class="card-footer text-muted border-light">
                        Better read then dead.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Using handlebars partials directory to display the modals -->
{{> author/discardModal}}
{{> author/deleteModal}}
{{> author/updateModal}}
{{> author/successful}}
{{> author/notSuccessful}}

<!-- Jquery CDN here -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Custom JS link for compose path -->
<script src="/js/compose.js" type="text/javascript"></script>