<div id="compose">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h2>Compose <i class="fas fa-feather-alt"></i></h2>
                    </div>
                    <div class="card-body">
                        <form id="authorBox">
                            <div class="form-group">
                                <label for="titleBox">Title</label>
                                <input type="title" class="form-control" id="titleBox"
                                    placeholder="Give Your Masterpiece a Title">
                            </div>
                            <div class="form-group">
                                <label for="storyBox">Once Upon a Time...</label>
                                <textarea class="form-control" id="storyBox" rows="10" spellcheck="true"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="categoryBox">Category of Your Masterpiece</label>
                                        <select class="form-control" id="categoryBox">
                                            <option></option>
                                            <option>Poetry</option>
                                            <option>Drama</option>
                                            <option>Short Story</option>
                                            <option>Long Story</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="typeBox">Type</label>
                                        <select class="form-control" id="typeBox">
                                            <option></option>
                                            <option>Non-Fiction</option>
                                            <option>Fantasy</option>
                                            <option>Adventure</option>
                                            <option>Romance</option>
                                            <option>Mystery</option>
                                            <option>Horror</option>
                                            <option>Thriller</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-light text-white bg-dark mb-3" style="display: inline-block">
                                <div class="card-header border-light">
                                    Author Tools <i class="fas fa-toolbox"></i>
                                </div>
                                <div class="card-body">
                                    <button class="btn btn-danger" type="reset">Discard <i
                                            class="fas fa-eraser"></i></button>
                                    <button class="btn btn-success" type="button">Save Draft <i
                                            class="fab fa-firstdraft"></i></button>
                                    <button class="btn btn-success" type="submit">Publish <i
                                            class="far fa-check-square"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Last worked on 12/27/19
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h2>Saved Drafts <i class="fab fa-firstdraft"></i></h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                                Cras justo odio lorem
                                <button class="btn btn-danger" type="button">Delete <i
                                        class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-success" type="button">Edit <i class="far fa-edit"></i></button>
                            </li>
                            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                                Dapibus ac facilisis in
                                <button class="btn btn-danger" type="button">Delete <i
                                        class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-success" type="button">Edit <i class="far fa-edit"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Rome wasn't built in a day.
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h2>Published <i class="far fa-check-square"></i></h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                                Cras justo odio lorem
                                <button class="btn btn-danger" type="button">Delete <i
                                        class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-success" type="button">Edit <i class="far fa-edit"></i></button>
                            </li>
                            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                                Dapibus ac facilisis in
                                <button class="btn btn-danger" type="button">Delete <i
                                        class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-success" type="button">Edit <i class="far fa-edit"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Better read then dead.
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>