<div id="compose">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Shelve It! <i class="fas fa-book"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown" id="userIcon">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="far fa-user-circle fa-lg"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Sign-In</a>
                        <a class="dropdown-item" href="#">Sign-Up</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/compose">Compose <i class="fas fa-feather-alt"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div clas="container">
        <div class="row">
            <div class="col-sm-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio commodi veritatis quidem, nesciunt
                    ratione neque quibusdam minima, culpa, libero placeat sapiente animi dolores quod aspernatur quia
                    facere
                    nostrum saepe cupiditate!</p>
            </div>
        </div>
    </div>
</div>