<div id="home">
  <div id="loader">
    <img src="../public/videos/BurningTransition.gif" width="30%" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Shelve It!</h1> <!-- Place Holder Header for homepage -->
        <h2>It's Better Read Than Dead</h2>
      </div>
      <div class="button_container">
        <a class="buttonAnchors" href="/stories"><button type="button"
            class="btn btn-dark btn-lg btn-block indexButton">Wanna read something?</button></a>
        <br>
        <!-- This button only shows up when the user signs-up/signs-in -->
        <a class="buttonAnchors" href="/compose"><button type="button" id="index-author-button"
            class="btn btn-dark btn-lg btn-block indexButton d-none">Author</button></a>
      </div>
      </ul>
    </div>
  </div>
</div>
</div>

<!-- Jquery CDN here -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Custom JS link here -->
<script src="/js/index.js"></script>