<div id="home">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Shelve It!</h1> <!-- Place Holder Header for homepage -->
        <h2>It's Better Read Than Dead</h2>
      </div>

      <button type="button" class="btn btn-dark btn-lg btn-block indexButton">Reader</button>
      <button type="button" class="btn btn-dark btn-lg btn-block indexButton">Author</button>


      </ul>
    </div>
  </div>
</div>
</div>

<!-- Jquery CDN here -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Custom JS link here -->
<script src="/js/index.js"></script>

<!-- Text CSS -->
<link href="http://allfont.net/allfont.css?fonts=respess-capitals-excessive" rel="stylesheet" type="text/css" />
<link href="http://allfont.net/allfont.css?fonts=respess-capitals-light" rel="stylesheet" type="text/css" />