<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>This is our Readers page</h2>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="search-text">Search by Book</label>
                        <input type="text" id="search-text" class="form-control" aria-describedby="search-text"
                            placeholder="Enter search Text">
                    </div>

                    <button id="submitbtn" class="btn btn-primary float-right">Submit</button>
                </form>
                <h3>Searches</h3>
                <div id="book-list" class="list-group">




                    <p data-id="{{this.id}}" class="list-group-item">
                        <a href="example/{{this.id}}">{{this.username}}</a>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery CDN here -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Custom JS link here -->
<script src="/js/reader.js"></script>