<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <!-- Trigger modal display -->
    <button id="modal-btn">Login</button>

<!-- Icon or decal still needed for log in page to add some jazz to it -->

    <!-- Modal -->
    <div id="login" class="modal">
      <!-- Modal Content -->
      <div clas="modal-content">
        <div class="modal-header">
          <span class='close'>&times;</span>
          <h2>Log in</h2>
        </div>
        <div class='modal-body'>
        <!-- To copy the form for Quform, start here -->
            <!-- Form for the login -->
            <form>
                Username:<br>
                <input type='text' name='username'><br>
                Password:<br>
                <input type='password' name='password'><br> <!--Password is displayed as ******-->
                <button id='submit'>Log in</button>
            </form>
        <!-- To copy the form for Quform, end here -->
      </div>
    </div>


    <!-- Quform Links:  -->
<script type="text/javascript" src="quform/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="quform/js/plugins.js"></script>
<script type="text/javascript" src="quform/js/scripts.js"></script>
  
</body>
</html>
