<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Quform Javascript Links:  -->
  <script type="text/javascript" src="quform/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="quform/js/plugins.js"></script>
  <script type="text/javascript" src="quform/js/scripts.js"></script>

  <!-- Quform CSS Link: -->
  <link rel="stylesheet" type="text/css" href="quform/css/base.css" />

  <!-- Style Sheets Link: -->
  <link rel="stylesheet" type="text/css" href="modal.css">
</head>

<body>
  <!-- Trigger/Open The Modal -->
  <button id="modal-btn">Login</button>

  <!-- The Modal -->
  <div id="login" class="modal">
    <!-- Modal content -->
    <div clas="modal-content">
      <div class="modal-header">
        <span class='close'>&times;</span>
        <h2>Log in to Shelve It!</h2>
      </div>
      <div class='modal-body'>
        <!-- To copy the form for Quform, start here -->
        <!-- Form for the login -->
        <form class="quform" action="quform/process.php" method="post">
          <div class="quform-elements">
            Username:<br>
            <div class="quform-input">
              <input type='text' name='username'><br><br>
            </div>
            Password:<br>
            <div class="quform-input">
              <input type='password' name='password'><br><br>
              <!--Password is displayed as ******-->
            </div>
            <button id='submit'>Log in</button>
          </div>
        </form>
        <!-- To copy the form for Quform, end here -->
      </div>
    </div>
</body>
<script>
  // Get the modal
  var modal = document.getElementById("login");

  // Get the button that opens the modal
  var btn = document.getElementById("modal-btn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function () {
    modal.style.display = "block";
  };

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  };

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>

</html>