/*
 * Configure the z-index of the editor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */
:root {
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
}

.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url('../images/shelveit_background_large.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  
};
#editor {
  color: #000000;
}

#editorContainer {
  height: 60vh;
}
.ql-container.ql-snow {
    border: 1px solid #ccc;
    height: 90%;
}
