.list-group-item {
  line-height: 2.5;
}

body {
  background-image: url('../images/Shelve\ IT\ concept-Recovered.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  
};
#editor {
  color: #000000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Quill Editor CSS changes Below */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#editorContainer {
  height: 60vh;
}

/* Tell Quill not to scroll */
#quillContainer {
  color: #000000;
  height: auto;
  min-height: 100%;
  padding: 50px;
}
#quillContainer .ql-editor {
  font-size: 16px;
  overflow-y: visible; 
}
