<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-book"></i> Shelve It!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reader">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown" id="userIcon">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="nav_login" href="#">Log In</a>
                    <div class="dropdown-divider" id="composeDiv1"></div>
                    <a class="dropdown-item" id="nav_signup" href="#">Sign Up</a>
                    <a class="dropdown-item d-none" id="nav_signout" href="#">Sign Out</a>

                    <div class="dropdown-divider d-none" id="composeDiv2"></div>
                    <a class="dropdown-item d-none" id="composeLnk" href="/compose">Compose <i
                            class="fas fa-feather-alt"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Using handlebars partials directory to display the modals -->
{{> login/login}}
{{> login/signup}}

<!-- Jquery CDN here -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Custom JS link for compose path -->
<script src="/js/nav.js" type="text/javascript"></script>
<!-- Google Platform Library -->
<script src="https://apis.google.com/js/platform.js" async defer></script>