<div class="card border-light text-white bg-dark mb-3" style="display: inline-block">
    <div class="card-header border-light">
        Author Tools <i class="fas fa-toolbox"></i>
    </div>
    <div class="card-body">
        <button class="btn btn-danger" type="button" id="discardButton" data-toggle="modal"
            data-target="#discardModal">Discard <i class="fas fa-eraser"></i></button>
        <button class="btn" type="button" id="counterBadge">Characters <span class="badge badge-light"
                id="quillCounter"></span></button>
        <button class="btn btn-success" type="button" id="draftButton">Save Draft <i
                class="fab fa-firstdraft"></i></button>
        <button class="btn btn-success" type="button" id="publishButton">Publish <i
                class="far fa-check-square"></i></button>
    </div>
</div>