<!-- Discard All Modal -->
<div class="modal fade" id="discardModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to discard everything?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="fas fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No <i
                        class="far fa-times-circle fa-lg"></i></button>
                <button type="button" class="btn btn-success" id="yesDiscard" data-dismiss="modal">Yes <i
                        class="far fa-check-circle fa-lg"></i></i></button>
            </div>
        </div>
    </div>
</div>