<div class="card-body">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light d-flex justify-content-between">
            {{title}}
            <div class="float-right">
                <button class="btn btn-danger" type="button">Delete <i class="fas fa-trash-alt"></i></button>
                <button class="btn btn-success" type="button">Edit <i class="far fa-edit"></i></button>
            </div>
        </li>
    </ul>
</div>