<div class="card-body">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light d-flex justify-content-between">
            {{this.title}}
            <div class="float-right">
                <button class="btn btn-danger deleteButton" type="button" data-id="{{this.id}}">Delete <i
                        class="fas fa-trash-alt"></i></button>
                <button class="btn btn-success editButton" type="button" data-id="{{this.id}}">Edit <i
                        class="far fa-edit"></i></button>
            </div>
        </li>
    </ul>
</div>