<!-- Not Successful Save or Publish Modal -->
<div class="modal fade" id="notSuccessful" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Unable to Save</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="fas fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body" id="incompleteFields">
                <p>Please fix the fields described below:</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close <i
                        class="far fa-window-close fa-lg"></i></button>
            </div>
        </div>
    </div>
</div>