<div>
    <button class="btn btn-primary btn-block masterpieceButton" type="button" data-toggle="collapse"
        data-target=".number{{this.id}}" aria-expanded="false" aria-controls=".number{{this.id}}"
        data-id="{{this.id}}">{{this.title}}
    </button>
</div>
<br>