{{!-- Login modal --}}
<div class="log-in modal fade" id="log-in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log in to Shelve It!</h5>
                </button>
            </div>
            <div class="modal-body">
                <!-- To copy the form for Quform, start here -->
                <!-- Form for the login -->
                <form class="container" id="login-form">
                    Username:<br>
                    <input type='text' name='username'><br><br>
                    Password:<br>
                    <input type='password' name='password'><br><br>
                    <!--Password is displayed as ******-->
                    <button class="btn btn-secondary" id='login-show'>Show Password</button>

                    <button class="btn btn-primary" id='login-submit'>Log in</button>
                </form>
                <!-- To copy the form for Quform, end here -->
            </div>

            <div class="modal-footer">
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>