{{!-- Sign Up Modal --}}
<div class="sign-up modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up for Shelve It!</h5>
            </div>
            <div class="modal-body">
                <!-- To copy the form for Quform, start here -->
                <!-- Form for the sign up -->
                <form class="container" id="signup-form">
                    <div class="alert alert-warning alert-dismissible d-none" id="signup-alert">
                        <strong>Warning!</strong> Please check that all fields are correct before
                        proceeding.
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <h5>First Name:</h5>
                            <input type='text' id='firstname'><br><br>
                            <h5>Last Name:</h5>
                            <input type='text' id='lastname'><br><br>
                            <h5>Email Address</h5>
                            <input type='text' id='email'><br><br>


                            <div class="alert alert-warning alert-dismissible d-none" id="match-error">
                                <strong>Warning!</strong> Email in use, have you forgotten your password?


                            </div>
                        </div>
                        <div class="col-sm">
                            <h5>Password</h5>
                            <input type='password' id='password'><br><br>
                            <!--Password is displayed as ******-->
                            <h5>Confirm Password:</h5>
                            <input type='password' id='password-confirm'><br><br>
                            <!--Password is displayed as ******-->
                            <button class="btn btn-secondary" id='signup-show' type="button">Show Password</button>

                        </div>
                    </div>
                </form>
                <!-- To copy the form for Quform, end here -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id='signup-submit' type="submit">Sign Up</button>

                {{!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> --}}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>