{{!-- Sign Up Modal --}}
<div class="sign-up modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up for Shelve It!</h5>
            </div>
            <div class="modal-body">
                <!-- To copy the form for Quform, start here -->
                <!-- Form for the sign up -->
                <form class="container" id="signup-form">
                    <div class="row">
                        <div class="col-sm">
                            First Name:<br>
                            <input type='text' id='firstname'><br><br>
                            Last Name:<br>
                            <input type='text' id='lastname'><br><br>
                            Email Address:<br>
                            <input type='text' id='email'><br><br>
                            <button class="btn btn-primary" id='signup-submit' type="submit">Sign Up</button>
                        </div>
                        <div class="col-sm">
                            Password:<br>
                            <input type='password' id='password'><br><br>
                            <!--Password is displayed as ******-->
                            Confirm Password:<br>
                            <input type='password' id='password-confirm'><br><br>
                            <!--Password is displayed as ******-->
                            <button class="btn btn-secondary" id='signup-show' type="button">Show Password</button>

                        </div>
                    </div>
                </form>
                <!-- To copy the form for Quform, end here -->
            </div>
            <div class="modal-footer">
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>